@import url('https://fonts.googleapis.com/css2?family=Bai+Jamjuree:wght@300;400;500;600;700&display=swap');

:root {
  --font-family: 'Bai Jamjuree', sans-serif;
  --gray-900: #161513;
  --gray-700: #575249;
  --white: #fff;
  --transition-duration: .2s;
}

@media (prefers-reduced-motion) {
  :root {
    transition-duration: 0s;
  }
}

html {
  font-size: 16px;
  font-family: var(--font-family);
  color: var(--gray-900);
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
}

h1, h2, h3, h4, h5 {
  margin: 0;
}

h3 {
  font-size: 1.618rem;
}

h2 {
  font-size: 2.62rem;
}

h1 {
  font-size: 4.24rem;
}


/* Typography */
h4 {
  font-weight: 700;
  font-size: 2rem;
  line-height: 2.5rem;
}

p {
  margin: 0;
}

p.-large {
  font-size: 1.25rem;
  line-height: 2rem;
  font-weight: 500;
}